## Uso de Slices en strings (con step)

Es posible indicar step al hacer slices de string para seleccionar solo los caracteres dados por cada paso dentro del rango <br>
[begin:end(not included):**step**]

In [1]:
mystring = "Hola Mundo"
mystring[0:10:2]

'Hl ud'

## Método para formatear strings 
### .format()

Permite ingresar string sobre otro string en el orden en que son ingresados en el método .format (es posible añadir multiples textos

In [2]:
print("Estos es una cadéna de texto {}".format("INSERTADO"))

Estos es una cadéna de texto INSERTADO

Cada {} corresponde a un índice de los textos ingresados, de la forma **.format("<indice 0>","<indice 1>")** y asi sucesivamente

In [3]:
print("Esto es {1} {0} {2}".format("cadena","otra","de texto"))

Esto es otra cadena de texto

Es posible asignar cada valor de la cadena de formato a una variable y utilizar la variable al momento de invocarla dentro de {}

Mediante format es posible modificar el formato de un número de tipo float, cambiando el número de decimales presentes:
**{value:width.precision:f}** donde **width** es el largo máximo que se desea del número y **precision** el número de decimales deseados

In [6]:
numero_decimal = 1.43219863

In [7]:
print("El número es: {numero:1.3f}".format(numero=numero_decimal))

El número es: 1.432

Desde python 3.6 se permite formatear las cadenas de texto de forma similar a otros lenguajes, de la siguiente forma.

In [8]:
nombre = "Seba"

In [14]:
print(f"Hola, mi nombre es {nombre}")

Hola, mi nombre es Seba

## Diccionarios 
Objetos que contienen elementos correspondientes a pares **{llave:valor}** <br>
Las llaves siempre deben ser de tipo **str** <br>
Los valores pueden ser de cualquier tipo <br>

*NOTA: diccionarios no pueden ser ordenados*

In [20]:
my_dict = {"primer_nombre":"Sebastián", "segundo_nombre":"Nicolás"}

In [21]:
print(my_dict)

{'primer_nombre': 'Sebastián', 'segundo_nombre': 'Nicolás'}

In [22]:
diccionario_precios_frutas = {"manzana":1.0,"naranja":1.2,"frutilla":3.2}

In [26]:
print(diccionario_precios_frutas["manzana"])

1.0

Es posible tener diccionarios anidados y acceder a ellos:

In [29]:
diccionario_anidado = {"1":{"nombre":"Sebastian","edad":29},"2":{"nombre":"Felipe","edad":26}}

In [32]:
diccionario_anidado["1"]

{'nombre': 'Sebastian', 'edad': 29}

In [33]:
diccionario_anidado["2"]["nombre"]

'Felipe'

Agregar nuevos elementos al diccionario

In [36]:
diccionario_anidado["3"]={"nombre":"Viviana","edad":27}

In [37]:
diccionario_anidado["3"]

{'nombre': 'Viviana', 'edad': 27}

In [38]:
diccionario_anidado

{'1': {'nombre': 'Sebastian', 'edad': 29},
 '2': {'nombre': 'Felipe', 'edad': 26},
 '3': {'nombre': 'Viviana', 'edad': 27}}

Reemplazar el valor de elementos en el diccionario

In [39]:
diccionario_anidado["3"]["edad"] = 30

In [40]:
diccionario_anidado

{'1': {'nombre': 'Sebastian', 'edad': 29},
 '2': {'nombre': 'Felipe', 'edad': 26},
 '3': {'nombre': 'Viviana', 'edad': 30}}

**Métodos de interacción con diccionarios** <br>
- Obtener las llaves del diccionario

In [41]:
diccionario_anidado.keys()

dict_keys(['1', '2', '3'])

- Obtener los valores del diccionario

In [42]:
diccionario_anidado.values()

dict_values([{'nombre': 'Sebastian', 'edad': 29}, {'nombre': 'Felipe', 'edad': 26}, {'nombre': 'Viviana', 'edad': 30}])

- Obtener los valores del diccionario en partes (tuplas)

In [43]:
diccionario_anidado.items()

dict_items([('1', {'nombre': 'Sebastian', 'edad': 29}), ('2', {'nombre': 'Felipe', 'edad': 26}), ('3', {'nombre': 'Viviana', 'edad': 30})])

## Set 
Corresponden a colecciones de elementos **únicos**

In [44]:
nuevo_set = set()

In [47]:
nuevo_set

set()

In [48]:
nuevo_set.add(1)

In [49]:
nuevo_set

{1}

In [51]:
nuevo_set.add(2)

In [52]:
nuevo_set.add(1)

In [53]:
nuevo_set

{1, 2}

In [54]:
mi_lista = [1,1,1,1,1,3,3,3,3,3,3,2,2,2]

In [55]:
set(mi_lista)

{1, 2, 3}

## Archivos
Es posible escribir archivos en jupyter mediante el siguiente codigo <br>

**Primera linea**: codígo para crear archivo a escribir <br>
**Resto de líneas**: contenido del archivo a escribir

In [57]:
%%writefile test_file.txt
First line of the text
Second line of the text

Overwriting test_file.txt

In [59]:
archivo = open("test_file.txt","r")

In [61]:
archivo.readline().rstrip()

'Second line of the text'

Es posible volver al inicio de un archivo mediante la función seek.

In [71]:
archivo.seek(0)

0

In [72]:
archivo.readlines()

['First line of the text\n', 'Second line of the text\n']